<h1>This is our comment tab</h1>
<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <input type="text" name="text" placeholder="comment">
    <button>SUBMIT</button>    
</form>